{
  "rules": {
    "no-console": "off",
    "indent": [ "error", 2 ],
    "semi": ["error", "always"],
    "linebreak-style": [ "error", "unix" ],
    "comma-dangle": ["error", "always-multiline"],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }]
  },
  "env": {
    "es6": true,
    "node": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "document": false,
    "__DEBUG__": false,
    "__TITLE__": false,
    "__API_URL__": false
  },
  "ecmaFeatures": {
    "modules": true,
    "impliedStrict": true,
    "experimentalObjectRestSpread": true
  },
  "extends": "eslint:recommended"
}
